@Html.Raw(ViewData["SpaHtml"])

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <!-- Our webpack bundle -->
    <script src="~/dist/main-client.js" asp-append-version="true"></script>


    <!--script src="~/myjs/fuck.js?1488" ></script>-->
}


