<div class='main-nav' style="background: lightgray;">
  <div class='navbar'>
    <div class='navbar-header'>
      <div class='navbar-brand'>
        <button type='button' class='navbar-toggle' (click)="collapseNavbar()">
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a [routerLink]="['/sign-in']" class='navbar-link'>Журнал лабораторных работ</a><!--Journal Labs-->
      </div>
    </div>
    <div class='clearfix'></div>
    <div style=" margin-left: 10px; margin-bottom: 12px;">                                                                                                           
      <p>Поиск лабораторных работ по ФИО студента:</p><!--Search student by name:-->
      <input type="text" [(ngModel)]="studentName" name="studentName"/>
      <button (click)="StudentSearch()">Найти студента</button><!--Find student-->
    </div>
    <div class='clearfix'></div>
    <div class='navbar-collapse {{collapse}}'>
      <ul class='nav navbar-nav'>
        <li *ngIf="currentRole=='Admin'" [routerLinkActive]="['link-active']" (click)="collapseMenu()">
          <a [routerLink]="['/admin']">
            <span class='glyphicon glyphicon-education'></span> {{ 'Admin' | translate }}
          </a>
        </li>
        <li *ngIf="currentRole=='Teacher'" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact:true}" (click)="collapseMenu()">
          <a [routerLink]="['/create-journal']">
            <span class='glyphicon glyphicon-user'></span> Создать журнал <!--Student journals-->
          </a>
        </li>
        <li *ngIf="currentRole!=''" [routerLinkActive]="['link-active']" (click)="signOut()">
          <a>
            <span class='glyphicon glyphicon-th-large'></span> Выйти с аккаунта <!--Sign Out-->
          </a>
        </li>
        <li *ngIf="currentRole==''" [routerLinkActive]="['link-active']" (click)="collapseMenu()">
          <a [routerLink]="['/sign-in']">
            <span class='glyphicon glyphicon-star-empty'></span> Войти в аккаунт<!--Sign In-->
          </a>
        </li>
        <ng-container *ngIf="teacherJournals.length!=0 && (currentRole=='Teacher'||currentRole=='Assistant')">
          <li *ngFor=" let journal of teacherJournals;let i=index" id="teacher{{i}}" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact:true}" (click)="collapseMenu()">
            <a [routerLink]="['/journal']" [queryParams]="{ journalId: journal.Id }">
              <span class='glyphicon glyphicon-comment'></span> Преподаватель - {{journal.LessonName}}<!--Teacher-->
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="studentJournals.length!=0">
          <li *ngFor=" let journal of studentJournals;let i=index" id="student{{i}}" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact:true}" (click)="collapseMenu()">
            <a [routerLink]="['/journal']" [queryParams]="{ journalId: journal.JournalId,studentId:journal.StudentId }">
              <span class='glyphicon glyphicon-comment'></span> Студент - {{journal.LessonName}}<!--Student-->
            </a>
          </li>
        </ng-container>
      </ul>
      <textarea *ngIf="currentRole=='Teacher' || currentRole=='Admin'" placeholder="добавить заметки/примечания по разработке" style="margin-left: 14px" name="Text1" cols="40" rows="10" (blur)="addDevelopmentRemak($event)"></textarea>
    </div>
  </div>
</div>
