<div class="row">
  <div *ngIf="journalViewModel!=null">
    <table>
      <thead>
        <tr>
          <td></td>
          <td></td>
          <ng-container *ngFor=" let key of journalViewModel.KindsOfWorkForJournal">
            <td style="text-align:center; vertical-align:middle;" colspan="2">
              Название
            </td>
            <td *ngIf="currentRole=='Teacher'">Удалить</td>
            <td *ngIf="currentRole=='Teacher'">Отображать вид работы для ассистента</td>
            <td *ngIf="currentRole=='Teacher'">Отображать вид работы для студента</td>
            <td *ngIf="key.IsSecondBlock == true">Пересдача</td>
          </ng-container>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <ng-container *ngFor=" let key of journalViewModel.KindsOfWorkForJournal">
            <td style="text-align:center; vertical-align:middle;" colspan="2">
              <input [(ngModel)]="key.NameKindOfWork" (blur)="changeKindOfWorkName(key)" [readonly]="studentId" />
            </td>
            <td *ngIf="currentRole=='Teacher'"><input type="button" (click)="removeKindOfWork(key.Id)" value="удалить" /></td>
            <td *ngIf="currentRole=='Teacher'"><input type="checkbox" [(ngModel)]="key.IsKindOfWorkVisible" (ngModelChange)="changeVisibleKindOfWork(key.Id,$event)" /></td>
            <td *ngIf="currentRole=='Teacher'"><input type="checkbox" [(ngModel)]="key.IsVisibleToStudent" (ngModelChange)="changeVisibleKindOfWorkForStudent(key.Id,$event)" /></td>
            <td *ngIf="key.IsSecondBlock == true"><input type="checkbox" [(ngModel)]="key.isSecondBlockVisible" (ngModelChange)="changeVisibleSecondBlock(key,$event)" /></td>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td *ngIf="currentRole=='Teacher'" style="padding-right: 10px;">Скрыть студента</td>
          <td *ngIf="currentRole=='Teacher'" style="padding-right: 10px;">Удалить студента</td>
          <td></td>
          <ng-container *ngFor=" let key of headerKindOfWork">
            <td *ngIf="key.KindOfMark == kindOfMark.FirstMark">Дата сдачи</td><!--FirstDate-->
            <td *ngIf="key.KindOfMark == kindOfMark.FirstMark">Оценка при первой сдаче</td><!--FirstMark-->
            <td *ngIf="key.KindOfMark == kindOfMark.FirstMark">ФИО преподавателя</td><!--FirstMark-->
            <td *ngIf="key.KindOfMark == kindOfMark.SecondMark && key.isVisible">Дата пересдачи</td><!--SecondDate-->
            <td *ngIf="key.KindOfMark == kindOfMark.SecondMark && key.isVisible">Оценка при пересдаче</td><!--SecondMark-->
            <td *ngIf="key.KindOfMark == kindOfMark.SecondMark && key.isVisible">ФИО преподавателя</td><!--FirstMark-->
          </ng-container>
          <td>Итоговая оценка</td>
          <td>Описание</td>
        </tr>
        <ng-container *ngFor=" let key2 of journalViewModel.StudentResultForJournal;let i = index">
          <tr>
            <td *ngIf="currentRole=='Teacher'" style="padding-right: 10px;"><input type="checkbox" [(ngModel)]="key2.Remark.IsHideStudent" (ngModelChange)="changeRemark(key2.Remark)" /></td>
            <td *ngIf="currentRole=='Teacher'" style="padding-right: 10px;"><input type="button" (click)="removeStudent(key2.StudentLabBlocks[0].StudentId)" value="удалить" /></td>
            <td><input [(ngModel)]="key2.StudentInfo.StudentName" (blur)="changeUserName(key2.StudentInfo)" [disabled]="studentId" /></td>
            <ng-container *ngFor=" let key of key2.StudentLabBlocks">
              <td *ngIf="key.KindOfMark == kindOfMark.FirstMark"> <input [(ngModel)]="key.Date" (click)="key.Date=currentDate" (blur)="changeLabBlock(key)" [disabled]="studentId || key.MarkTeacherName!=null && key.MarkTeacherId != currentTeacherId && currentRole!='Teacher'" /></td>
              <td *ngIf="key.KindOfMark == kindOfMark.FirstMark && key.IsBoolField==false"><input [(ngModel)]="key.Mark" (ngModelChange)="key.Date=currentDate" (blur)="changeLabBlock(key)" [disabled]="studentId || key.MarkTeacherName!=null && key.MarkTeacherId != currentTeacherId && currentRole!='Teacher'" type="number" [ngStyle]="{'background-color': key.Color != '' && !studentId ? key.Color : 'white'}" step="0.1" /></td>
              <td *ngIf="key.KindOfMark == kindOfMark.FirstMark && key.IsBoolField==true"><input [(ngModel)]="key.Mark" (ngModelChange)="key.Date=currentDate;changeLabBlock(key,$event)" [disabled]="studentId || key.MarkTeacherName!=null && key.MarkTeacherId != currentTeacherId && currentRole!='Teacher'" type="checkbox" /></td>
              <td *ngIf="key.KindOfMark == kindOfMark.FirstMark"> <input [(ngModel)]="key.MarkTeacherName" disabled /></td>
              <td *ngIf="key.KindOfMark == kindOfMark.SecondMark && key.IsSecondBlock"><input [(ngModel)]="key.Date" (click)="key.Date=currentDate" (blur)="changeLabBlock(key)" [disabled]="studentId || key.MarkTeacherName!=null && key.MarkTeacherId != currentTeacherId && currentRole!='Teacher'" /></td>
              <td *ngIf="key.KindOfMark == kindOfMark.SecondMark && key.IsSecondBlock && key.IsBoolField==false"><input [(ngModel)]="key.Mark" (ngModelChange)="key.Date=currentDate" (blur)="changeLabBlock(key)" [disabled]="studentId || key.MarkTeacherName!=null && key.MarkTeacherId != currentTeacherId && currentRole!='Teacher'" type="number" [ngStyle]="{'background-color': key.Color != '' && !studentId ? key.Color : 'white'}" step="0.1" /></td>
              <td *ngIf="key.KindOfMark == kindOfMark.SecondMark && key.IsSecondBlock && key.IsBoolField==true"><input [(ngModel)]="key.Mark" (ngModelChange)="key.Date=currentDate;changeLabBlock(key,$event)" [disabled]=" studentId || key.MarkTeacherName!=null && key.MarkTeacherId != currentTeacherId && currentRole!='Teacher'" type="checkbox" /></td>
              <td *ngIf="key.KindOfMark == kindOfMark.SecondMark && key.IsSecondBlock"><input [(ngModel)]="key.MarkTeacherName" disabled /></td>
            </ng-container>
            <td><input value="{{totalMark(key2.StudentLabBlocks)}}" [disabled]="studentId" /></td>
            <td *ngIf="key2.Remark!=null"><input [(ngModel)]="key2.Remark.RemarkText" (blur)="changeRemark(key2.Remark)" [disabled]="studentId" /></td>
            <td *ngIf="key2.Remark==null"><input value="" [disabled]="studentId" /></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <br />
    <input *ngIf="currentRole=='Teacher'" type="button" (click)="addStudentToJournal()" value="Добавить студента" />
    <input *ngIf="currentRole=='Teacher'" type="button" (click)="addKindOfWorkToJournal()" value="Добавить вид работы" />
    <br />
    <div *ngIf="currentRole=='Teacher'">
      <p>Aссистенты которые имеют доступ к журналу:</p><!--Input count lab blocks:-->
      <ul style="width: 300px; height: 200px; overflow: auto">
        <li *ngFor=" let assistant of assistantList"><input type="checkbox" (click)="changeAssistant($event,assistant)" [checked]="assistant.IsAllowAccess"> {{assistant.Name}}</li>
      </ul>
    </div>
  </div>
</div>
